.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.slider {
  cursor: pointer;
  width: 100%;
}

.track {
  background-color: #e4e4e4;
  height: 4px;
}

.track:nth-child(2) {
  background-color: #383838;
}

.thumb {
  z-index: -10000;
  width: 0.75rem;
  height: 0.75rem;
  background: #fff;
  border: 2px solid #383838;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: -5px;
}


