.btn-neon:hover #span1{
  left:100%;
  transition: 0.2s;
}
.btn-neon:hover #span2{
  right:100%;
  transition: 0.2s;
  transition-delay: 0.4s;
}
.btn-neon:hover #span3{
  transform: translateY(200%);
  transition: 0.2s;
  transition-delay: 0.2s;
}
.btn-neon:hover #span4{
  transform: translateY(-200%);
  transition: 0.2s;
  transition-delay: 0.6s;
}